.rotate {
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	transition: all 0.5s linear;
}

.rotate.down {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
